<!DOCTYPE html>
<html>
  <head>
    <link href="assets/styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <title></title>
  </head>
  <body>

    <form action="/login" method="get">
      <input type="text" name="username" placeholder="Enter the name">
      <input type="text" name="password" placeholder="Enter the password">
      <input type="submit" value="submit">
    </form>

    <script>
    $(document).ready(function(){



      $( "form input" ).submit(function( event ) {
        var todo= $( this ).serializeArray();
  event.preventDefault();

        $.ajax({
          type: 'get',
          url: '/login',
          data: todo,
          success: function(data){
            //do something with the data via front-end framework
            location.reload();
          }
        });
      });

    </script>

  </body>

</html>
